.scroll {
}

.scroll__panel {
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
    margin: 30px 0 20px 0;
    border: 1px solid #ddd;
    justify-content: center;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
}

.scroll__panel__xLine {
    width: 280px;
    height: 1px;
    background-color: #ccc;
    margin: 10px auto 5px auto;
}

.scroll__panel footer {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.scroll__panel footer button {
    width: 200px;
    line-height: 30px;
    outline-color: #ccc;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, #eaeaea 0%, #ddd 100%);
}


.scroll__container {
    display: flex;
    margin: 15px 0px;
    flex-flow: row wrap;
    justify-content: center;
}

.scroll__container__box {
    margin: 10px;
    position: relative;
    border-radius: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 1px;
    padding: 10px 15px 15px 15px;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%)
}

.scroll__container__box figure {
    z-index: 1;
    margin-bottom: 0px;
    text-align: center;
}

.scroll__container__box figcaption {
    margin: 0px 5px 10px 0px;
    border-bottom: 1px solid #ccc;
}

.scroll__container__box figcaption h3 {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scroll__container__box figcaption h3 a {
    z-index: 1;
    color: inherit;
    position: relative;
    text-underline-offset: 4px;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-color: inherit;
}

.scroll__container__box img{
    z-index:1;
    float: left;
    width: 200px;
    height: auto;
    position:relative;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
}

.scroll__container__box a img{
    color: initial;
    cursor:pointer;
}

.scroll__container__box dl {
    margin: 0;
    z-index: 1;
    position: relative;
}

/*Показать/скрыть*/
.scroll__container__box dt, dd {
    margin: 0;
    display: inline;
}

.scroll__container__box dd {
    white-space: pre-line;
}

.scroll__container__box dt:after {
    content: ": ";
}

.scroll__container__box input[type="checkbox"] {
    top: -9999px;
    left: -9999px;
    visibility: hidden;
    position: absolute;
}

.scroll__container__box dl input[type="checkbox"] + label {
    display: inline;
    cursor: pointer;
    margin-bottom: 0px;
    text-decoration: underline;
}

.scroll__container__box input[type="checkbox"] + label + dd {
    display: none;
}

.scroll__container__box input[type="checkbox"]:checked + label + dd {
    display: inline;
}

.scroll__container__box input[type="checkbox"]:checked + label + dd.grid {
    display: grid;
}

.scroll__container__box input[type="checkbox"] + label + dd a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scroll__container__box dl > dd:after {
    content: ' ';
    display: block;
}

.scroll__container__box input[type="checkbox"] + label:after {
    content: ' ';
    display: block;
}


.scroll__container__box .contextMenu {
    top: 5px;
    right: 1px;
}

.scroll__itemEditor {
    display: flex;
    min-width: 500px;
    background: #ddd;
    border-radius: 10px;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 15px 30px 5px 30px;
    background: linear-gradient(to bottom, #ddd 0%, #e8e8e8 100%);
}

.scroll__itemEditor input,
.scroll__itemEditor select,
.scroll__itemEditor textarea {
    padding: 0px 5px;
    outline-color: #ccc;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.scroll__itemEditor > h3 {
    margin: 0 0 25px 0;
    align-self: center;
}

.scroll__itemEditor > p {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: flex-end;
}

.scroll__itemEditor option {
    background: #eee;
}

.scroll__itemEditor > p > label {
    margin-right: 10px;
}

.scroll__itemEditor > p > label + * {
    flex: 3;
    resize: none;
}

.scroll__itemEditor > p:last-child {
    margin-top: 5px;
}

.scroll__itemEditor > p:last-child > input {
    flex: 1;
    margin: 0px 5px;
    padding: 5px 0px;
    background: linear-gradient(to bottom, #ddd 0%, #d8d8d8 100%);
}

@media (min-width: 1030px) {
    .scroll__panel__yLine {
        width: 2px;
        height: 40px;
        margin: 0 10px;
        visibility: hidden;
    }
}

@media (max-width: 500px) {
    .scroll__container__box img {
        float: none;
    }

    .scroll__container__box dl {
        text-align: center;
    }
}
.table {
    width: 100%;
    margin-bottom: 2px;
}

.table > caption {
    caption-side: top;
    padding-bottom: 0px;
}

.table tr {
    cursor: default;
}

.table tr:hover {
    background-color: rgba(30, 144, 255, .05);
}

.table td {
    padding: 10px;
    position: relative;
    vertical-align: top;
    white-space: pre-line;
}

.table td.newItem {
    display: flex;
    align-items: center;
}

.table td:last-child > .contextMenu {
    margin-top: -1.5px;
}

.table td textarea {
    width: 100%;
    height: 30px;
    resize: vertical;
    padding: 0px 5px;
    margin-right: 15px;
    outline-color: #ccc;
    border-radius: 10px;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.table td button {
    padding: 2px 20px;
    outline-color: #ccc;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
}
.anime .scroll__container__box{
    width: 450px;
}

.anime .scroll__container__box img {
    margin-right: 10px;
}
.films .scroll__container__box{
    width: 490px;
}

.films .scroll__container__box img {
    margin-right: 10px;
}

.games .scroll__container__box{
    width: 490px;
}

.games .scroll__container__box img {
    margin-right: 10px;
}

.linkCatalog .scroll__container__box {
    width: 230px;
}

.linkCatalog .scroll__container__box figure a {
    cursor: pointer;
}

.linkTable__image {
    width: 5%;
}

.linkTable__name {
    width: 85%;
}

.linkTable__contextMenu {
    width: 10%;
}

.linkTable td img {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.music .scroll__container__box {
    width: 450px;
}
.music .scroll__container__box img{
    width: auto;
    height: 150px;
    max-width: 200px;
    margin-right: 15px;
}

.quote .scroll__container__box{
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.quote .scroll__container__box img {
    margin-right: 10px;
}

.quote .scroll__container__box dd {
    display: flex;
    white-space: normal;
}

.quote .scroll__container__box dd iframe {
    width: 100%;
    border: none;
    height: 200px;
}

.serials .scroll__container__box{
    width: 490px;
}

.serials .scroll__container__box img {
    margin-right: 10px;
}

.textTable {
}

.textTable__number {
    width: 5%;
}

.textTable__text {
    width: 85%;
}

.textTable__contextMenu {
    width: 10%;
}
.videoLinks__videoBox {
    margin: 10px;
    position: relative;
}

.videoLinks__videoBox .contextMenu {
    top: 5px;
    right: 1px;
}

.videoLinks__videoBox iframe {
    z-index: 1;
    width: 300px;
    height: 150px;
    position:relative;
    border-radius: 10px;
    box-shadow: 0 0 3px;
}

.valid.modified:not([type=checkbox]) {
    border-bottom: 1px solid #26b050;
}

.invalid {
    border-bottom: 1px solid red;
}

.validation-errors {
    margin-bottom: 5px;
}

.validation-message {
    color: red;
    white-space: pre-line;
}

.mud-popover {
    border-radius: 10px;
}

.mud-list {
    border-radius: 10px;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
}

.mud-popover::before {
    content: "";
    top: -7px;
    right: 37px;
    width: 13px;
    height: 13px;
    background: #eee;
    position: absolute;
    transform: rotate(135deg);
    border-bottom-left-radius: 3.5px;
    border: 1px solid rgba(145, 158, 171, 0.12);
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.mud-list-item-icon {
    min-width: 40px;
}

.mud-list.mud-list-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}
@font-face {
    font-family: "Open Sans";
    src: local("Monotype Corsiva"), 
         url("https://github.com/agile7tiger/eye/blob/gh-pages/fonts/MonotypeCorsiva.ttf?raw=true")
}

body {
    font-size: 1.1rem;
    background-color: whitesmoke;
    font-family: 'Sitka Heading', sans-serif;
}

a,
input,
button,
select,
textarea,
summary {
    cursor: pointer;
}

a {
    color: dodgerblue;
}

select {
    height: 32px;
    outline-color: #ccc;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
}

select > option {
    background: #eee;
}

pre {
    margin-top: 0;
    overflow: auto;
    margin-bottom: 1rem;
}
.animetedCheckbox {
    display: inline-block;
}

.animetedCheckbox input[type="checkbox"] + label {
    display: block;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 35px;
    position: relative;
}
.animetedCheckbox input[type="checkbox"] + label::before {
    left: 0;
    top: -4px;
    width: 22px;
    content: '';
    height: 22px;
    position: absolute;
    border-radius: 3px;
    border: 2px solid #c4c9c9;
}
.animetedCheckbox input[type="checkbox"]:checked + label::before {
    top: -6px;
    left: -3px;
    width: 12px;
    height: 22px;
    transform: rotate(40deg);
    transform-origin: 100% 100%;
    border-right: 2px solid #408cc2;
    border-bottom: 2px solid #408cc2;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
}
.animetedCheckbox input[type="checkbox"]:not(:checked),
.animetedCheckbox input[type="checkbox"]:checked {
    display: none;
}
/*https://dwstroy.ru/lessons/les4020/demo/*/
/*Главные кнопки*/
.mainButtons {
    display: flex;
    margin: 0 -5px;
    color: dodgerblue;
}
.mainButtons label {
    margin: 0 5px;
    cursor: pointer;
}
/* -----  Выравнивание по середине  -----*/
.identityForm__button {
    padding: 0 0.62em;
    line-height: 2.2em;
    display: inline-block;
    border-radius: 0.25em;
    border: 1px solid #666;
    background-image: linear-gradient( to bottom, #fff, #ccc );
    box-shadow: inset 0 0 0.1em #fff, 0.2em 0.2em 0.2em rgba( 0, 0, 0, 0.3 );
}
.identityForm__button:hover {
    border-color: #3c7fb1;
    background-image: linear-gradient( to bottom, #fff, #a9dbf6 );
}
.identityForm__button :focus {
    padding: 0 0.56em 0 0.68em;
}

.identityForm {
    padding: 10px;
    font-size: 1rem;
    max-width: 500px;
    line-height: normal;
    background-color: #888;
    font-family: Roboto, sans-serif;
}
.identityForm a {
    color: #298cad;
    text-decoration: none;
}
.identityForm a:hover {
    color: #36d2ff;
}
.identityForm ul {
    padding: 0;
    list-style: none;
}
.identityForm input {
    width: 100%;
    display: block;
}
.identityForm .tabForm {
    display: none;
    padding: 20px;
    background-color: #fff;
}
.identityForm .tabForm.active,
.identityForm #auth:checked ~ #authForm,
.identityForm #reg:checked ~ #regForm,
.identityForm #forgotPassword:checked ~ #forgotPasswordForm, 
.identityForm #resetPassword:checked ~ #resetPasswordForm {
    display: block;
}
.identityForm label.tab {
    padding: 15px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: -1px;
    display: inline-block;
    border-radius: 3px 3px 0 0;
}
.identityForm label.tab.active,
.identityForm input[name="tabs"]:checked + label {
    color: #1d5f75;
    background-color: #fff;
}
.identityForm input[name="tabs"] {
    display: none;
}

/* Иконки во вкладках */
.identityForm .tab::before {
    font-size: 24px;
    content: '\f090';
    margin-right: 11px;
    font-weight: normal;
    font-family: 'FontAwesome', sans-serif;
}
.identityForm .tab[for="reg"]::before {
    content: '\f234';
}

/* Формы */
.identityForm .input {
    outline: none;
    color: #1e8da6;
    font-size: 16px;
    padding: 12px 14px;
    margin-bottom: 18px;
    box-sizing: border-box;
    border: 2px solid #e9eaea;
}

::-webkit-input-placeholder {color:#c4c9c9;}/* webkit */
::-moz-placeholder          {color:#298cad;}/* Firefox 19+ */
:-moz-placeholder           {color:#298cad;}/* Firefox 18- */
:-ms-input-placeholder      {color:#298cad;}/* IE */

/* Плавающий текст */
.identityForm .boxInput {
    position: relative;
}
.identityForm .boxInput input {
    border: none;
    padding: 10px 0;
    border-bottom: 2px solid #e9eaea;
}
.identityForm .boxInput input:focus {
    border-bottom-color: #bbb;
}
.identityForm .boxInput label {
    top: 0;
    left: 0;
    color: #c4c9c9;
    padding-top: 10px;
    position: absolute;
    pointer-events: none;
}
.identityForm .boxInput input:focus ~ label,
.identityForm .boxInput input:not(:placeholder-shown) ~ label {
    top: -20px;
    color: #33d3fe;
    font-size: 12px;
}

/* Эффект кнопки */
.identityForm button[type="submit"] {
    z-index: 1;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    margin-top: 5px;
    overflow: hidden;
    line-height: 45px;
    text-align: center;
    margin-bottom: 5px;
    position: relative;
    background: #298cad;
    text-transform: uppercase;
    border-bottom: 4px solid #36d2ff;
}
.identityForm button[type="submit"]:hover {
    color: #ffffff;
}
.identityForm button[type="submit"]::before, 
.identityForm button[type="submit"]::after {
    top: 0;
    z-index: -1;
    content: "";
    left: -100%;
    width: 100%;
    height: 100%;
    display: block;
    transition: .3s;
    position: absolute;
    background: #27bfdc;
}
.identityForm button[type="submit"]::after {
    left: 0;
    top: 100%;
    background: #36d2ff;
    transition-delay: .2s;
}
.identityForm button[type="submit"]:hover::before {
    left: 0;
}
.identityForm button[type="submit"]:hover::after {
    top: 0;
}

/**/
.identityForm .toggleLabel {
    display: block;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    color: dodgerblue;
    text-align: center;
}
.identityForm label {
    margin-bottom: 0px;
}

.identityForm .boxConditions {
    margin-top: 5px;
    font-size: 12px;
}

#authForm .validation-errors {
    margin-bottom: 15px;
}
/* medium.com/@krokhin.ezh/%D0%BA%D0%B0%D0%BA-%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D1%82%D1%8C-%D0%B3%D0%B0%D0%BC%D0%B1%D1%83%D1%80%D0%B3%D0%B5%D1%80-%D0%BC%D0%B5%D0%BD%D1%8E-%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D1%83%D1%8F-%D1%82%D0%BE%D0%BB%D1%8C%D0%BA%D0%BE-css-%D0%B8-html-c6abf7c32c6d */
.contextMenu {
    right: 5px;
    width: 130px;
    height: 150px;
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
}

.contextMenu__toggle {
    visibility: hidden;
}
.contextMenu__toggle:checked + .contextMenu__btn > span {
    transform: rotate(45deg);
}
.contextMenu__toggle:checked + .contextMenu__btn > i {
    transform: rotate(-45deg);
}
.contextMenu__toggle:checked + .contextMenu__btn {
    z-index: 4;
}

.contextMenu__btn {
    z-index: 2;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.contextMenu__btn > span,
.contextMenu__btn > span::before,
.contextMenu__btn > span::after,
.contextMenu__btn > i,
.contextMenu__btn > i::before,
.contextMenu__btn > i::after  {
    width: 5px;
    height: 5px;
    display: block;
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    background-color: #616161;
    transition-duration: .25s;
}
.contextMenu__btn > span::before,
.contextMenu__btn > i::before {
    top: -9px;	
    content: '';
}
.contextMenu__btn > span::after,
.contextMenu__btn > i::after {
    top: 9px;
    content: '';
}

.contextMenu > ul {
    top: -50%;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
    list-style: none;
    visibility: hidden;
    position: absolute;
    border-radius: 15px;
    transition-duration: .25s;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
    background: linear-gradient(to bottom, #ddd 0%, #d9d9d9 100%);
}
.contextMenu__toggle:checked ~ ul {
    top: 0;
    z-index: 3;
    visibility: visible;
}

.contextMenu > ul > li {
    padding: 7px;
    color: black;
    display: block;
    cursor: pointer;
    text-align: left;
    border-radius: 15px;
    text-decoration: none;
}
.contextMenu > ul > li:hover {
    background: #d7d7d7;
}

.header {
    display: flex;
    height: 3.5rem;
    position: relative;
    align-items: center;
    border: 1px solid #bbb;
    justify-content: space-between;
    padding: .5rem 1.5rem .5rem 1rem;
    background: linear-gradient(to bottom, #ddd 0%, #ccc 100%);
}

.header > div{
    display: flex;
    align-items: center;
}

.header .brand {
    font-size: 1.7rem;
    margin-right: 1rem;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

@media (max-width: 500px) {
    .advertisingLink {
        display: none;
    }
}

.languageSelector {
}

.pagination {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}

.pagination li {
    margin: -1px;
    cursor:pointer;
    color: dodgerblue;
    line-height: 1.25;
    border: 1px solid #ccc;
    padding: 0.5rem 0.75rem;
    transition: background .3s;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
}

.pagination li > i{
	cursor: pointer;
    font-size: 18px;
    vertical-align: central;
}

.pagination li:hover {
    opacity: .7;
    color: white;
    box-shadow: 0 0 1px inset;
    background: linear-gradient(to bottom, #379cff 0%, #0a86ff 100%);
}

.pagination li.active {
    opacity: 1;
    color: white;
    box-shadow: 0 0 2px inset;
    background: linear-gradient(to bottom, #379cff 0%, #0a86ff 100%);
}

.pagination li:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.pagination li:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.semiTransparentWrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1010;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    transition: visibility 200ms ease-in;
}

.toolbar {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.toolbar > button {
    border: none;
    font-size: 20px;
    margin: 0px 5px;
    background: none;
    padding: 5px 10px;
}

.toolbar > button:hover {
    color: white;
    background: #ccc;
    border-radius: 10px;
}

.toolbar i {
    cursor: pointer;
    margin-right: 5px;
}

.transparentWrapper {
    top: 0;
    left: 0;
    margin: auto;
    z-index: 1010;
    position: absolute;
}

.userMenu {
    display: flex;
    margin-right: 5px;
    align-items: center;
}

.userMenu > a{
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
}
/*https://css-tricks.com/creating-yin-yang-loaders-web/*/
.yinyangSpinner {
    margin: auto;
    position: absolute;
    top: calc(30% - 15vmin);
    left: calc(50% - 15vmin);
    background-color: transparent;
}

.yinyangSpinner__textContainer {
    top: 0%;
    left: 0%;
    margin: auto;
    display: flex;
    width: 30vmin;
    height: 30vmin;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.yinyangSpinner__text {
    color: white;
    font-size: 3.5vmin;
    mix-blend-mode: difference;
    font-family: "Monotype Corsiva";
}

.yinyangSpinner__text span {
    display: block;
    text-align: center;
}

.yinyangSpinner__symbol {
    width: 30vmin;
    height: 30vmin;
    position: relative;
    border-radius: 50%;
    animation: r 4s linear infinite;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    background: linear-gradient(white 50%, black 0);
}

    .yinyangSpinner__symbol:before,
    .yinyangSpinner__symbol:after {
        --i: 0;
        top: 25%;
        bottom: 25%;
        content: "";
        position: absolute;
        border-radius: 50%;
        transform: scale(0.7);
        left: calc(var(--i)*50%);
        right: calc((1 - var(--i))*50%);
        transform-origin: calc(var(--i)*100%) 50%;
        background: hsl(0, 0%, calc((1 - var(--i))*100%));
        border: solid 5vmin hsl(0, 0%, calc(var(--i)*100%));
        animation: s 2s ease-in-out calc(var(--i)*-2s) infinite alternate;
    }

.yinyangSpinner__symbol:after {
    --i: 1;
}

@keyframes s {
    to {
        transform: scale(1.3);
    }
}

@keyframes r {
    to {
        transform: rotate(1turn);
    }
}
