<input type="checkbox" id="adminMenu__toggle"/>
<label for="adminMenu__toggle" class="adminMenu__btn"><span></span><i></i></label>
<div class="adminMenu" onmouseup="event.stopPropagation()">
    <ul>
        <li><a @onclick="UpdateDiscogsImageSourcesAsync">Обновить discogs изображения</a></li>
        <li><a @onclick="UpdateFilmsAsync">Обновить фильмы</a></li>
        <li><a @onclick="UpdateSerialsAsync">Обновить сериалы</a></li>
        <li><a @onclick="UpdateGamesItemsAsync">Обновить игры</a></li>
    </ul>
</div>