.oneLineAdder__header {
    color: black;
    text-align: center;
}

.oneLineAdder__header h1 {
    position:relative;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
}

.oneLineAdder__header h1 > a {
    color: inherit;
    text-underline-offset: 9px;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-color: inherit;
    text-decoration-thickness: 2px;
}

.oneLineAdder input {
    padding: 5px;
    border-radius: 10px;
    outline-color: #ccc;
    border: 1px solid #ccc;
}

.oneLineAdder > input[type="text"] {
    width: 300px;
    border-width: 2px;
}

.oneLineAdder > input[type="submit"] {
    width: 150px;
    margin: 5px 5px 0px 5px;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
}