<EditForm class="sorting" Model="Model" OnSubmit="Sort">
    <select @bind-value="Model.CurrentSortingState" @bind-value:event="onchange">
        @foreach (var pair in SortingStates.Default)
{
    <option value="@pair.Key">@pair.Value</option>
}
    </select>
    <select @bind-value="Model.CurrentSortingParameter" @bind-value:event="onchange">
        @foreach (var pair in GetSortingParameters())
{
    <option value="@pair.Key">@pair.Value</option>
}
    </select>
    <input type="submit" value="Сортировать" />
</EditForm>