.table {
    width: 100%;
    margin-bottom: 2px;
}

.table > caption {
    caption-side: top;
    padding-bottom: 0px;
}

.table tr {
    cursor: default;
}

.table tr:hover {
    background-color: rgba(30, 144, 255, .05);
}

.table td {
    padding: 10px;
    position: relative;
    vertical-align: top;
    white-space: pre-line;
}

.table td.newItem {
    display: flex;
    align-items: center;
}

.table td:last-child > .contextMenu {
    margin-top: -1.5px;
}

.table td textarea {
    width: 100%;
    height: 30px;
    resize: vertical;
    padding: 0px 5px;
    margin-right: 15px;
    outline-color: #ccc;
    border-radius: 10px;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.table td button {
    padding: 2px 20px;
    outline-color: #ccc;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
}